.service-details {
    padding: 25px 16px 25px 106px;
    line-height: 1.5em;
}
.service-details img {
    top: 32px !important;
}

.service-images {
    margin: 10px;
}

.button-bar .button{
    border-width: 1px;
    margin: 1px;
}

/*.bar-dark {*/
    /*background-color: #555 !important;*/
/*}*/
/**/
/*.button-dark {*/
    /*background-color: #555 !important;*/
    /*border-color: #444;*/
/*}*/


/*overrinding angular-toastr*/

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    margin-bottom: 5px;
}


/*overriding angular-loading-bar*/

#loading-bar .bar {
    background: #66cc33;
    padding: 0 !important;
    top: 41px;
    height: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#loading-bar .peg {
    display: none !important;
    height: 4px;
}