<ion-view view-title="My Services">

    <ion-nav-buttons side="right">
        <button ui-sref="app.services.create" class="button button-clear button-light icon ion-android-add"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="true">

        <div class="list list-inset" ng-repeat="service in vm.myServicesList">
            <service-details data="service" class="item item-light service-details" ng-click="vm.showOptions(service)"></service-details>
        </div>

    </ion-content>
</ion-view>
