<ion-view view-title="Provide a Service">

    <ion-content has-bouncing="true">

        <div class="list">

            <label class="item item-light item-input item-select">
                <span class="input-label">Service Type</span>
                <select ng-model="vm.newService.service_type_id" ng-options="serviceType.id as serviceType.name for serviceType in vm.serviceTypeList">
                    <option value="">Choose</option>
                </select>
            </label>

            <label class="item item-light item-input item-floating-label">
                <span class="input-label">Service Name</span>
                <input type="text" placeholder="Service Name" ng-model="vm.newService.name">
            </label>

            <label class="item item-light item-input item-floating-label">
                <span class="input-label">Mobile</span>
                <input type="text" placeholder="Mobile" ng-model="vm.newService.mobile">
            </label>

            <label class="item item-light item-input item-floating-label">
                <span class="input-label">Landline</span>
                <input type="text" placeholder="Landline" ng-model="vm.newService.landline">
            </label>

            <label class="item item-light item-input item-floating-label">
                <span class="input-label">Address</span>
                <textarea placeholder="Address" ng-model="vm.newService.address" rows="3"></textarea>
            </label>

            <label class="item item-light item-input item-floating-label">
                <span class="input-label">City</span>
                <input type="text" placeholder="City" ng-model="vm.newService.city">
            </label>

            <label class="item item-light item-input item-floating-label">
                <span class="input-label">Zipcode/Pincode</span>
                <input type="text" placeholder="Zipcode/Pincode" ng-model="vm.newService.zipcode">
            </label>

            <label class="item">
                <button class="button button-block button-outline button-dark" ng-click="vm.submit()">Submit</button>
            </label>

        </div>

    </ion-content>
</ion-view>
