<ion-view cache-view="false" hide-nav-bar="true">
    <ion-content>
        <form ng-submit="vm.login()">
            <div class="list">
                <div class="item">
                    <br/><br/><br/>
                    <h1 class="text-center">Provider</h1>
                    <p class="text-center">The only one you'll ever need</p>
                </div>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="vm.user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="vm.user.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
                <label class="item">
                    <button ng-click="vm.showRegisterForm()" class="button button-block button-royal">Register</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>