<ion-view hide-nav-bar="true" cache-view="false" class="dark-page">
    <ion-content>

        <div class="list">
            <div class="item item-borderless login-title">
                <br/><br/><br/><br/>
                <h1 class="text-center">Provider</h1>
                <p class="text-center">The only one you'll ever need</p>
            </div>
        </div>

        <div class="list list-inset">

            <form ng-submit="vm.login()" class="form-center">

                <label class="item item-borderless">
                    <input type="text" placeholder="Email" ng-model="vm.user.email" class="text-center">
                </label>
                <label class="item item-borderless">
                    <input type="password" placeholder="Password" ng-model="vm.user.password" class="text-center">
                </label>
                <label class="item item-borderless">
                    <button class="button button-block button-outline button-positive" type="submit">Log in</button>
                </label>

            </form>

            <div class="item item-borderless">
                <button ng-click="vm.showRegisterForm()" class="button button-block button-outline button-balanced">Register</button>
            </div>

        </div>

        <!--<div class="list">-->
            <!---->
        <!--</div>-->

    </ion-content>
</ion-view>