<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="title">Register</div>
        <div class="buttons">
            <button class="button button-clear button-light icon ion-android-close" ng-click="vm.hideRegisterForm()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="white-page">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name" ng-model="vm.user.first_name">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name" ng-model="vm.user.last_name">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="vm.user.email">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="vm.user.password">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Repeat Password</span>
                    <input type="password" placeholder="Repeat Password" ng-model="vm.user.repeat_password">
                </label>

                <label class="item">
                    <button class="button button-block button-royal" ng-click="vm.register()">Register</button>
                </label>
            </div>
    </ion-content>
</ion-modal-view>
