<ion-view view-title="Service Details">
    <ion-content>

    <div class="list">

        <div class="item item-avatar">
            <img src="http://lorempixel.com/50/50">
            <h2>{{vm.service.business_name}}</h2>
            <p>{{vm.service.business_address}}</p>
            <h2><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></h2>
        </div>

        <div class="item item-image">
            <ion-slide-box>
                <ion-slide ng-repeat="serviceImage in vm.service.images">
                    <img ng-src="//provider.creativevortex.in/public/uploads/images/{{serviceImage.image}}">
                </ion-slide>
            </ion-slide-box>
        </div>

        <div class="button-bar">
            <button ng-click="vm.sendRequest()" class="button button-balanced icon-left ion-star">Request</button>
            <button ng-click="vm.showReviewForm()" class="button button-stable icon-left ion-flash">Leave a Review</button>
        </div>

    </div>


    <ion-list class="item-text-wrap">

        <div class="item item-divider">
            Reviews
        </div>

        <ion-item ng-repeat="review in vm.reviewsList">
            <p><strong>{{review.user_name}} :</strong></p>
            <p>{{review.description}}</p>
        </ion-item>

    </ion-list>

    </ion-content>
</ion-view>
