<ion-view view-title="Service Details">
    <ion-content has-bouncing="true">

        <div class="list list-inset">

            <service-details data="vm.service" class="item item-light item-text-wrap service-details"></service-details>

            <div class="item item-image">
                <ion-slide-box>
                    <ion-slide>
                        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?markers={{vm.service.gps_latitude}},{{vm.service.gps_longitude}}&size=400x300&zoom=16" alt=""/>
                    </ion-slide>
                    <ion-slide ng-repeat="serviceImage in vm.service.images">
                        <img ng-src="http://provider.creativevortex.in/public/uploads/images/{{serviceImage.image}}">
                    </ion-slide>
                </ion-slide-box>
            </div>

        </div>

        <div class="list list-inset">
            <div class="button-bar">
                <button ng-click="vm.sendRequest()" class="button button-dark icon-left ion-paper-airplane">Request</button>
                <button ng-click="vm.showReviewForm()" class="button button-balanced icon-left ion-chatboxes">Write Review</button>
            </div>
        </div>

        <ng-include src="'reviews/reviews.html'"></ng-include>

    </ion-content>
</ion-view>
