<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Leave a Review</h1>
        <div class="buttons">
            <button class="button" ng-click="vm.hideReviewForm()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="vm.createReview()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Review</span>
                    <textarea placeholder="Review" ng-model="vm.review.description" rows="5"></textarea>
                </label>

                <label class="item">
                    <button class="button button-block button-assertive" type="submit">Review</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
