<ion-view view-title="Explore Services">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="searchText">
            </label>
        </div>

        <ion-list type="list-inset">
            <ion-item class="item-icon-left" ng-repeat="type in vm.serviceTypes | filter:searchText" href="#/services/type/{{type.name}}">
                <i class="icon {{type.icon}}"></i>
                <h2>{{type.name}}</h2>
                <p>Availabe: 188</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
