<ion-view view-title="Explore Services" hide-back-button="true">
    <ion-content>

        <!--<div class="list">-->
            <!--<label class="item item-input">-->
                <!--<i class="icon ion-search placeholder-icon"></i>-->
                <!--<input type="text" placeholder="Search" ng-model="searchText">-->
            <!--</label>-->
        <!--</div>-->

        <div class="list list-inset">
            <a class="item item-icon-left" ng-repeat="serviceType in vm.serviceTypes" href="#/services/type/{{serviceType.name}}">
                <i class="icon {{serviceType.icon}}"></i>
                <h2>{{serviceType.name}}</h2>
                <p>Availabe: 188</p>
            </a>
        </div>

    </ion-content>
</ion-view>
