<ion-view title="Requests" ng-init="vm.refresh()">

    <ion-tabs class="tabs-color-light tabs-background-dark tabs-icon-top tabs-top">

        <ion-tab title="Sent" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline">
            <ion-header-bar></ion-header-bar>
            <ion-content has-bouncing="true">

                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="vm.getSentRequests()">
                </ion-refresher>

                <div class="list list-inset" ng-repeat="sentRequest in vm.sentRequestsList | orderBy:'-updated_at'">

                    <div class="item item-light item-text-wrap service-details request-details" ng-class="sentRequest.status">
                        <i class="icon {{sentRequest.service.service_type_icon}}"></i>
                        <h2>{{sentRequest.service.name}}</h2>
                        <p>{{sentRequest.service.address}}</p>
                        <p>{{sentRequest.service.mobile}} | {{sentRequest.service.landline}}</p>
                        <p>
                            <i class="icon ion-location"></i> {{sentRequest.service.range | distance}}
                            &nbsp;&nbsp;&nbsp;
                            <i class="icon ion-star"></i> {{sentRequest.service.rating}}/5.00
                        </p>
                        <p><i class="icon ion-clipboard"></i> {{sentRequest.status | capitalize}}</p>

                        <button class="button button-clear button-dark icon ion-android-close service-close-button" ng-click="vm.cancelRequest(sentRequest)"></button>
                    </div>

                </div>

            </ion-content>
        </ion-tab>


        <ion-tab title="Received" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-header-bar></ion-header-bar>
            <ion-content has-bouncing="true">

                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="vm.getReceivedRequests()">
                </ion-refresher>

                <div class="list list-inset" ng-repeat="receivedRequest in vm.receivedRequestsList | orderBy: '-created_at'">

                    <div class="item item-light item-text-wrap request-details" ng-class="receivedRequest.status">
                        <h2>{{receivedRequest.user.first_name | capitalize}} {{receivedRequest.user.last_name | capitalize}} - {{receivedRequest.service_name}}</h2>
                        <p>{{receivedRequest.user.address}}</p>
                        <p>{{receivedRequest.user.mobile}} | {{receivedRequest.user.landline}}</p>
                        <p>
                            <i class="icon ion-location"></i> {{receivedRequest.user.range | distance}}
                            &nbsp;&nbsp;&nbsp;
                            <i class="icon ion-clipboard"></i> {{receivedRequest.status | capitalize}}
                        </p>

                        <div class="button-bar">
                            <button ng-if="receivedRequest.status !== 'accepted'" class="button button-block button-small button-dark-light" ng-click="vm.acceptRequest(receivedRequest)">Accept</button>
                            <button ng-if="receivedRequest.status !== 'declined'" class="button button-block button-small button-dark-light" ng-click="vm.declineRequest(receivedRequest)">Decline</button>
                        </div>
                    </div>

                </div>

            </ion-content>
        </ion-tab>

    </ion-tabs>

 </ion-view>
