<ion-view view-title="Profile">

    <ion-nav-buttons side="right">
        <button ng-click="vm.logout()" class="button button-clear button-assertive icon ion-android-exit"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="true">

        <div class="list">

            <gps-pos-finder data="vm.user" get-gps-position="vm.getGpsPosition()"></gps-pos-finder>

            <form name="form" ng-submit="vm.save()">

                <label class="item item-light item-input item-floating-label">
                    <span class="input-label">First Name</span>
                    <input type="text" name="first_name" placeholder="First Name" ng-model="vm.user.first_name" required>
                    <ng-messages ng-if="form.first_name.$dirty" for="form.first_name.$error" ng-messages-include="common/form.validation.html" class="text-error"></ng-messages>
                </label>

                <label class="item item-light item-input item-floating-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" name="last_name" placeholder="Last Name" ng-model="vm.user.last_name" required>
                    <ng-messages ng-if="form.last_name.$dirty" for="form.last_name.$error" ng-messages-include="common/form.validation.html" class="text-error"></ng-messages>
                </label>

                <!--<label class="item item-light item-input item-floating-label">-->
                    <!--<span class="input-label">Date of Birth</span>-->
                    <!--<input type="text" placeholder="dd/mm/yyyy" ng-model="vm.user.dob">-->
                <!--</label>-->

                <label class="item item-light item-input item-floating-label">
                    <span class="input-label">Mobile</span>
                    <input type="text" name="mobile" placeholder="Mobile" ng-model="vm.user.mobile" required pattern="[0-9]{10}">
                    <ng-messages ng-if="form.mobile.$dirty" for="form.mobile.$error" ng-messages-include="common/form.validation.html" class="text-error">
                        <ng-message when="pattern"><p>Enter 10 digit valid mobile number</p></ng-message>
                    </ng-messages>
                </label>

                <label class="item item-light item-input item-floating-label">
                    <span class="input-label">Landline</span>
                    <input type="text" name="landline" placeholder="Landline" ng-model="vm.user.landline" pattern="[0-9]{11}">
                    <ng-messages ng-if="form.landline.$dirty" for="form.landline.$error" ng-messages-include="common/form.validation.html" class="text-error">
                        <ng-message when="pattern"><p>Enter 11 digit valid landline number with STD</p></ng-message>
                    </ng-messages>
                </label>

                <label class="item item-light item-input item-floating-label">
                    <span class="input-label">Address</span>
                    <textarea name="address" placeholder="Address" ng-model="vm.user.address" rows="3" required minlength="20"></textarea>
                    <ng-messages ng-if="form.address.$dirty" for="form.address.$error" ng-messages-include="common/form.validation.html" class="text-error"></ng-messages>
                </label>

                <label class="item item-light item-input item-floating-label">
                    <span class="input-label">City</span>
                    <input type="text" name="city" placeholder="City" ng-model="vm.user.city" required>
                    <ng-messages ng-if="form.city.$dirty" for="form.city.$error" ng-messages-include="common/form.validation.html" class="text-error"></ng-messages>
                </label>

                <label class="item item-light item-input item-floating-label">
                    <span class="input-label">Zipcode/Pincode</span>
                    <input type="text" name="zipcode" placeholder="Zipcode/Pincode" ng-model="vm.user.zipcode" required pattern="[0-9]{6}">
                    <ng-messages ng-if="form.zipcode.$dirty" for="form.zipcode.$error" ng-messages-include="common/form.validation.html" class="text-error">
                        <ng-message when="pattern"><p>Enter valid zipcode</p></ng-message>
                    </ng-messages>
                </label>

                <label class="item">
                    <button type="submit" class="button button-block button-outline button-dark">Save</button>
                </label>

            </form>

        </div>

    </ion-content>
</ion-view>
